<%- include('../partials/header') %>

<section id="show-page">

  <div>Win or Loss: </div>
  <div><%= game.WinOrLoss %></div>

  <div>Player Color: </div>
  <div><%= game.PlayerColor %></div>

  <div>Player Rank: </div>
  <div><%= game.PlayerRank %></div>

  <div>Opponent Rank: </div>
  <div><%= game.OpponentRank %></div>

  <div>Opening: </div>
  <div><%= game.Opening %></div>

  <div>Game Link: </div>
  <div><%= game.GameLink %></div>
  
</section>

<div><p>    <a href="/games/<%= game.id %>/edit">Edit Details</a></p></div>





<form id="add-review-form" method="POST" action="/games/<%= game._id %>/notes">
  <label>Note:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <input type="submit" value="Add Note">
</form>


<% if (game.notes.length) { %>
  <table>
    <thead>
      <tr>

        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% game.notes.forEach(function(n) { %>
        <tr>
          <td><%= n.content %></td>
          <td><%= n.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>Add some notes or comments on the game!</h5>
<% } %>

<%- include('../partials/footer') %>