<%- include('../partials/header') %>

<section id="show-page">

  <div>Win or Loss: </div>
  <div><%= game.WinOrLoss %></div>

  <div>Player Color: </div>
  <div><%= game.PlayerColor %></div>

  <div>Player Rank: </div>
  <div><%= game.PlayerRank %></div>

  <div>Opponent Rank: </div>
  <div><%= game.OpponentRank %></div>

  <div>Opening: </div>
  <div><%= game.Opening %></div>

  <div>Game Link: </div>
  <div><%= game.GameLink %></div>
  
</section>

<%- include('../partials/footer') %>